:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(195, 100%, 50%);
  --twitter: hsl(203, 89%, 53%);
  --youtube: hsl(348, 97%, 39%);
  --light-toggle: hsl(230, 22%, 74%);
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg: hsl(225, 100%, 98%);
  --light-card-bg: hsl(227, 47%, 96%);
  --light-theme-text: hsl(228, 12%, 44%);
  --very-light-theme-text: hsl(230, 17%, 14%);
  --thin: 400;
  --thick: 700;
  --font: 'Inter', sans-serif;
  --container-max-width: 80vw;
  --container-width: 120rem;
  --card-max-width: 33rem;
  --card-min-width: 22rem;
  --gap: 5rem; }

body.dark-mode {
  --light-bg: hsl(230, 17%, 14%);
  --light-top-bg: hsl(232, 19%, 15%);
  --light-card-bg: hsl(228, 28%, 20%);
  --light-theme-text: hsl(228, 34%, 66%);
  --very-light-theme-text: white;
  --light-toggle: linear-gradient(
    to right,
    hsl(210, 78%, 56%) to hsl(146, 68%, 55%)
  ); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: var(--font); }

body {
  background-color: var(--light-bg);
  position: relative; }

.container {
  max-width: var(--container-max-width);
  width: var(--container-width);
  margin: auto;
  padding: 5rem 0; }

.bg-top {
  position: absolute;
  min-height: 20rem;
  height: 26rem;
  width: 100%;
  background-color: var(--light-top-bg);
  z-index: -1;
  border: 1px solid transparent;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.bold {
  color: var(--light-theme-text);
  font-weight: var(--thick);
  font-size: 1.5rem; }

.dark {
  color: var(--very-light-theme-text);
  font-weight: var(--thick); }

.number {
  font-size: 2.4rem; }

.plus {
  color: var(--lime-green); }

.minus {
  color: var(--bright-red);
  font-weight: var(--thick); }

h1.bold {
  font-size: 2rem;
  margin-bottom: 2rem; }
  body.dark-mode h1.bold {
    color: var(--very-light-theme-text); }

hr {
  display: none; }

.today {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(2 * (var(--card-min-width))), calc(2 * (var(--card-max-width)))));
  grid-gap: var(--gap); }

.today__card {
  background-color: var(--light-card-bg);
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  height: 12.5rem;
  border-radius: 5px; }
  .today__card > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .today__card > h4 {
    font-size: 1.4rem; }
  .today__card > .media-icon {
    display: flex;
    flex-direction: column; }
  .today__card > .stats > .icon {
    align-self: flex-end; }
  .today__card > .stats > * {
    font-size: 1.5rem;
    font-weight: var(--thick);
    display: flex;
    justify-content: center;
    align-items: center; }

.media-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(var(--card-min-width), var(--card-max-width)));
  grid-gap: var(--gap); }

h1 {
  color: var(--very-light-theme-text);
  font-size: 2.3rem;
  margin-bottom: 1rem; }

.toggle {
  margin-bottom: 5rem; }
  .toggle__div {
    display: flex;
    align-items: center; }
    .toggle__div > input {
      display: none;
      transition: 0.3s ease; }

.button {
  width: 5.5rem;
  height: 3rem;
  background-color: var(--light-toggle);
  border-radius: 5rem;
  margin-left: 2rem;
  position: relative;
  cursor: pointer; }
  .button::before {
    position: absolute;
    content: '';
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--light-top-bg); }

body.dark-mode .button {
  background-image: linear-gradient(to right, #378fe6, #3eda82); }

#toggle__btn:checked + .button::before {
  left: 0.5rem; }

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(var(--card-min-width), var(--card-max-width)));
  grid-gap: var(--gap);
  margin-bottom: 5rem; }

.card {
  max-height: 35rem;
  height: 25rem;
  background-color: var(--light-card-bg);
  text-align: center;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 5px;
  padding: 2rem 5rem;
  display: grid;
  overflow: hidden; }
  .card > .media-icon {
    display: flex;
    justify-content: center;
    align-items: center; }
    .card > .media-icon > .username {
      margin-left: 1rem; }
  .card .follower {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .card .follower .number-followers {
      font-size: 5.5rem; }
    .card .follower .followers {
      color: var(--light-theme-text);
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 3px; }
  .card .stats {
    display: flex;
    justify-content: center; }
    .card .stats > * {
      font-size: 1.5rem;
      font-weight: var(--thick);
      display: flex;
      justify-content: center;
      align-items: center; }
    .card .stats img[src^='images/icon-'] {
      margin-right: 0.5rem; }

.card.instagram {
  border-image: linear-gradient(var(--instagram-orange), var(--instagram-pink) 10% stretch); }
